LOG_LEVEL=INFO
LOG_DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/YYYYYYYY/YYYYYYYY
LOG_DISCORD_WEBHOOK_LEVEL=WARNING
DISABLE_BETTERTWITFIX=false
DISABLE_FXEMBED=false
DISABLE_TWITTERWEBVIEWER=false
