LOG_LEVEL=INFO
LOG_DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/YYYYYYYY/YYYYYYYY
LOG_DISCORD_WEBHOOK_LEVEL=WARNING
# INTERNET_ARCHIVE_EMAIL=user@example.com
# INTERNET_ARCHIVE_PASSWORD=password
SERVICE_FAILURE_THRESHOLD=10
SERVICE_DISABLE_SECONDS=3600
SERVICE_DISABLE_ERROR_THRESHOLD=24
DISABLE_BETTERTWITFIX=false
DISABLE_FXEMBED=false
